#!/bin/sh

0 * * * export "$(cat /root/.profile | xargs)" && echo "$(date) Updating stats..." >> /var/log/cron.log && python3 /usr/src/app/app.py --kairosdb_url $KAIROSDB_URL update-database 2>&1 >> /var/log/cron.log
